/*inicio*/

.principal{
    background-color: var(--cinza);
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    padding: 20px;
    
}

.lado-esquerdo{
    display: flex;
    justify-content: center;
    margin-top: 15%;
    margin-left: 50px;
}
.titulo{
    display: flex;
    font-size: 80px;
}

.titulo-normal{
    margin-right: 10px;
}

.titulo-pintado{
    color: var(--rosa);
}

.img-comeco{
    width: 100%;
}

.paragrafo1{
    text-align: justify;
    font-size: 25px;
    margin-top: 30px;
}

.paragrafo2{
    text-align: justify;
    font-size: 25px;
    margin-top: 5px;
}

/*Projeto*/
   
.proejeto-principal{
    background-color: var(--cinza);
    padding: 100px;
}
.projeto1{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 60px;
}

.t-projeto{
    font-size: 60px ;
    display: flex;
    justify-content: end;
    margin-bottom: 100px;
    text-align: end;
    align-items: end;
    
}
.t-projeto h1{
    border-bottom: 2px solid ;
}

.projeto2{
    display: flex;
    justify-content: center;
}

.projeto3{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projeto3 h1{
    text-align: end;
    font-size: 30px;
}

.projeto3 p{
    text-align: end;
    margin-top: 20px;
    line-height: 25px;
}

/*equipe*/
.equipe{
    background-color: var(--rosa);
    padding: 70px;
}

.primeira{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;

}
.borda{
    border: solid var(--preto);
    padding: 30px;
    border-radius: 30px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.equipe-titulo{
    display: flex;
    justify-content: start;
    
}

.titulo-equipe{
    font-size: 60px;
    margin-bottom: 20px;    
    border-bottom: 2px solid ;
}

.cima{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.cima h1{
    padding-left: 5px;
}

.fa-star{
    color: var(--amarelo);
}


.img-grupo{
    width: 250px;
   height: 220px;
   border-radius: 10px;
   margin-top: 10px;
   margin-bottom: 10px;
   box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
} 

.baixo{
    display: flex;
    justify-content: center;
}
.baixo i{
    padding-right: 10px;
}

.segunda{
    display: flex;
    justify-content: space-evenly;
}


/*contato*/
.contato{
    background-color: var(--cinza);
    display: flex;
    padding: 90px 30px 90px 30px;
}
.btns{
    display: flex;
    margin-top: 15px;
    text-align: center;
}

.btns li{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}

.paragrafo-contato{
    font-size: 50px;
    padding: 30px;
}

.paragrafo-contato p{
    margin-bottom: 15px;
}

.btn-contato1{
    background-color: var(--preto);
    border-radius: 10px;
    padding: 20px 40px 20px 40px;
    border: solid var(--preto);
    margin-right: 20px;
    color: var(--rosa);
    font-size: 20px;
    font-weight: 10;
    text-decoration: none;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    
}

.btn-contato2{
    background-color: var(--rosa);
    border-radius: 10px;
    padding: 20px 40px 20px 40px;
    border: solid var(--preto);
    margin-right: 20px;
    color: var(--preto);
    font-size: 20px;
    font-weight: 10;
    text-decoration: none;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}