/*1920x1080*/
@import url("./animation.css");
@import url("./footer.css");
@import url("./header.css");
@import url("./main.css");
@import url("./reset.css");
@import url("./carousel.css");
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&family=Poltawski+Nowy:ital,wght@1,600&display=swap');



:root {
    --rosa: #E91C5D;
    --preto: #000000;
    --cinza: #727272;
    --branco: #FFFFFF;
    --amarelo: yellow;
}

body {
    font-family: 'Comfortaa', cursive;
    font-family: 'Poltawski Nowy', serif;
}

/*
    |\__/,|   (`\
  _.|o o  |_   ) )
-(((---(((-------- Melhor Grupo  
/*
