header{
    /*header aparece quando abaixo o scrol para baixo*/
    z-index: 999;
    position: sticky;
    top: 0;
}

.img-header{
    width: 29%;
    padding-right: 10px;
    padding-bottom: 10px;
}

.titulo-header:hover{
    color: var(--rosa);
}

.aa1:hover{
    color: var(--branco) !important;
}

/* celular*/
@media (max-width: 600px) {

    .img-header{
    display: none;
    }
    
}

/* tablets  */
@media (max-width: 992px) {
    .titulo-header{
        font-size: 20px !important;
    }
}

/* CSS para laptops (largura de tela máxima de 1366px) */
@media (max-width: 1366px) {

    .titulo-header{
        font-size: 15px;
    }

    .a{
        font-size: 13px;
    }
}

/* CSS para laptops (largura de tela máxima de 1366px) */
@media (max-width: 1250px) {

    .img-header{
        display: none;
        }

        .titulo-header{
          margin-right: 50px;
        }

}