.cc{
    width: 18rem;
}
@media (max-width: 1920px) {

    
    .imagens-carrosel{
        width: 40%;
    }

    .cesar{
        height: 200px;
        width: 100%;
    }
    
    .henzo{
        height: 200px;
        width: 100%;
    }
    
    .ana{
        height: 200px;
        width: 100%;
    }
    
    .lucas{
        height: 200px;
        width: 100%;
    }
        
    }


/* tablets  */
@media (max-width: 992px) {
.img3{
    margin-top: 0px;
}
    .img3{
        margin-top: 50px;
    }
    .pp{
        font-size: 15px !important;
    }

    .c2{
        padding-bottom: 30px;
        padding-right: 10px;
    }

    .cesar{
        height: 180px;
        width: 100%;
    }
    
    .henzo{
        height: 180px;
        width: 100%;
    }
    
    .ana{
        height: 180px;
        width: 100%;
    }
    
    .lucas{
        height: 180px;
        width: 100%;
    }

    .e{
        padding-top: 60px;
    }

    .c{
        padding-top: 115px;
    }

    .ppp2{
        font-size: 15px !important;
    }

    .l{
        font-size: 16px;
        margin-top: 4px;
    }
    .hh2{
        font-size: 25px;
    }
    .pp2{
        font-size: 18px !important;
    }
}

/* celular*/
@media (max-width: 600px) {

    .ee{
        padding-top: 45px;
    }

    .li{
        font-size: 10px;
    }

    .c{
        padding-left: 30px;
        padding-top: 0px;
    }
    .pp{
        font-size: 12px !important;
    }

    .ii{
        display: none;
    }

    .c1{
        padding-top: 18px;
        padding-left: 10px;
    }

    .c2{
        padding-bottom: 30px;
        padding-right: 10px;
    }
    .ppp{
        font-size: 13px;
    }

    .ppp2{
        font-size: 12px !important;
    }
    .btnn{
        font-size: 12px !important;
    }

    .l{
        font-size: 17px;
        margin-top: 2px;
    }

    .cesar{
        height: 120px;
        width: 100%;
    }
    
    .henzo{
        height: 120px;
        width: 100%;
    }
    
    .ana{
        height: 120px;
        width: 100%;
    }
    
    .lucas{
        height: 120px;
        width: 100%;
    }

    .div-p{
        margin-top: 0px;
    }

    .ppp3{
        font-size: 12px !important;
    }

    .hh2{
        padding-top: 10px;
    }

    .pp2{
        font-size: 12px !important;
    }

}