.nav{
    display: flex;
    flex-direction: row;
    padding: 10px;
    background-color: var(--preto);
    color: var(--rosa);
    align-items: center;
    justify-content: space-around;
}

.primeira-parte{
    display: flex;
    padding: 10px;
    text-align: center;
    align-items: center;
}

.img-header{
    width: 30%;
    padding-right: 10px;
}

.segunda-parte{
    display: flex;
    padding: 10px;
    text-align: center;
    align-items: center;
}

.link1{
    text-decoration: none;
    color: var(--rosa);
    padding-left: 50px;
    text-align: center;
    align-items: center;
}

.terceira-parte{
    display: flex;
    padding-right: 10px;
    text-align: center;
    align-items: center;
}

.link-btn1{
    text-decoration: none;
    color: var(--rosa);
    text-align: center;
    margin: 40px;
}

.link-btn2{
    text-decoration: none;
    color: var(--branco);
    text-align: center;
    margin: 40px;
}

.btn1{
    background-color: var(--preto);
    border-radius: 10px;
    padding: 20px 40px 20px 40px;
    border: solid;
    margin-right: 20px;
    color: var(--rosa);
    font-size: 15px;

}

.btn2{
    background-color: var(--rosa);
    border-radius: 10px;
    padding: 20px 30px 20px 30px;
    border: solid;
    color: var(--rosa);
    font-size: 15px;
}
