.bg-rosa{
    background-color: var(--rosa) !important;
}

.logo2{
    width: 50%;
}

.icones-footer{
    width: 80%;
    
}


.icones-footer2{
    width: 80%;
    
}

.icones-footer3{
    width: 80%;
    
}

/* celular*/
@media (max-width: 600px) {


    .logo2{
        display: none;
      }

      .a1{
        font-size: 13px;
        padding-right: px;
      }

    .i{
        width: 50%;
        margin-top: 8px;
        margin-left: 5px
        ;
    }

    .t{
        width: 50%;
        margin-top: 8px;
        margin-left: 10px
    }

    .f{
        width: 45%;
        margin-top: 8px;
        margin-left: 30px
    }


    
}

/* tablets  */
@media (max-width: 992px) {

    .logo2{
       display: none;
     }
}