@import url("./footer.css");
@import url("./header.css");
@import url("./main.css");


:root {
    --rosa: #E91C5D;
    --preto: #000000;
    --cinza: #727272;
    --branco: #FFFFFF;
    --amarelo: yellow;
}

body {
    font-family: 'Comfortaa', cursive;
    font-family: 'Poltawski Nowy', serif;
}

.bt1{
    font-size: 10px;
}

.rosa{
    color: var(--rosa);
}

/*
    |\__/,|   (`\
  _.|o o  |_   ) )
-(((---(((-------- Melhor Grupo  
/*